/* You can add global styles to this file, and also import other style files */
:root {
  --color-black: #020202fd;
  --font-padrao: "Inter", sans-serif;

  --background-color:  linear-gradient(to right, #9ec4e5, #c5d147);
}
.container {
  max-width: 100%;
}

h2 {
  margin-top: -20px;
}
input,
select,
textarea {
  width: 100%;
  padding: 12px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  color: var(--color-black);
  font-family: var(--font-padrao);
  text-decoration: none;
}

body {
  background: linear-gradient(to right, #9ec4e5, #c5d147);
}
